<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.nighttrip.city.mapper.CityMapper">

    <select id="findAll" resultType="com.ssafy.nighttrip.city.domain.City">
        SELECT
        city_id,
        name,
        region,
        description,
        image_url
        FROM city
    </select>

    <select id="findById" resultType="com.ssafy.nighttrip.city.domain.City">
        SELECT
        city_id,
        name,
        region,
        description,
        image_url
        FROM city
        WHERE city_id = #{cityId}
    </select>

    <select id="findConnectionCharset" resultType="string">
        SELECT @@character_set_connection
    </select>


</mapper>