<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.nighttrip.course.courseAi.mapper.CourseRecommendMapper">

    <select id="findCandidates" resultType="com.ssafy.nighttrip.course.courseAi.domain.PlaceCandidate">
        SELECT
        p.place_id AS placeId,
        p.name AS name,
        p.category AS category,
        p.latitude AS latitude,
        p.longitude AS longitude,

        <choose>
            <when test="tags != null and tags.size() > 0">
                COALESCE(SUM(
                CASE
                WHEN t.name IN
                <foreach collection="tags" item="tag" open="(" separator="," close=")">
                    #{tag}
                </foreach>
                THEN pt.confidence
                ELSE 0
                END
                ), 0) AS preferredTagScore,
            </when>
            <otherwise>
                0 AS preferredTagScore,
            </otherwise>
        </choose>

        <choose>
            <when test="banTags != null and banTags.size() > 0">
                COALESCE(SUM(
                CASE
                WHEN t.name IN
                <foreach collection="banTags" item="banTag" open="(" separator="," close=")">
                    #{banTag}
                </foreach>
                THEN pt.confidence
                ELSE 0
                END
                ), 0) AS banTagScore,
            </when>
            <otherwise>
                0 AS banTagScore,
            </otherwise>
        </choose>

        <choose>
            <when test="tags != null and tags.size() > 0">
                GROUP_CONCAT(
                DISTINCT
                CASE
                WHEN t.name IN
                <foreach collection="tags" item="tag" open="(" separator="," close=")">
                    #{tag}
                </foreach>
                THEN t.name
                ELSE NULL
                END
                ) AS matchedTags
            </when>
            <otherwise>
                NULL AS matchedTags
            </otherwise>
        </choose>

        FROM place p
        JOIN city c ON p.city_id = c.city_id
        LEFT JOIN place_tag pt ON p.place_id = pt.place_id
        LEFT JOIN tag t ON pt.tag_id = t.tag_id

        WHERE c.name = #{city}
        AND p.category = #{category}
        AND p.latitude IS NOT NULL
        AND p.longitude IS NOT NULL

        GROUP BY
        p.place_id,
        p.name,
        p.category,
        p.latitude,
        p.longitude

        ORDER BY preferredTagScore DESC, banTagScore ASC, p.place_id ASC

<!--        LIMIT #{limit}-->
    </select>

</mapper>